registry=http://binario.caixa:8081/repository/npm-all/
proxy=http://binario.caixa:8081/repository/npm-all/
https-proxy=http://binario.caixa:8081/repository/npm-all/
sass_binary_site=http://binario.caixa:8081/repository/node-sass/
