<div class="step-layout">

  <button class="step-back-link" (click)="voltar()">
    ← Voltar ao Negocie Aqui
  </button>

  <h2>Central de Contratos</h2>
  <p class="step-subtitle">
    Selecione um contrato para renegociação
  </p>

  <!-- CLIENTE -->
  @if (contratoPrincipal()) {
  <section class="cliente-card">
    <mat-icon>business</mat-icon>

    <div class="cliente">
      <strong>Cliente: {{ contratoPrincipal()!.cliente }}</strong>
      <span>CNPJ: {{ contratoPrincipal()!.cpfCnpj }}</span>
    </div>
  </section>
  }

  <!-- LISTA -->
  @for (item of contratosCliente(); track item.numero) {

  <article class="contract-card">

    <!-- LINHA SUPERIOR -->
    <div class="contract-row-top">

      <!-- CONTRATO -->
      <div class="col">
        <span class="label">Número do Contrato</span>
        <strong>{{ item.numero }}</strong>
        <span class="label">Produto</span>
        <strong class="sub">{{ item.produto }}</strong>
      </div>

      <!-- SALDO -->
      <div class="col">
        <span class="label">Saldo Devedor</span>
        <strong class="valor">
          {{ formatarMoeda(item.valorDevido) }}
        </strong>
      </div>

      <!-- ATRASO -->
      <div class="col atraso">
        <span class="label">Dias em Atraso</span>

        <div class="atraso-box">
          <span class="dot" [class]="obterClasseDiasAtraso(item.diasAtraso)"></span>
          <strong>{{ item.diasAtraso }} dias</strong>
        </div>
      </div>

      <!-- STATUS -->
      <div class="col">
        <span class="label status">Status</span>

        <span class="status" [ngClass]="getStatusClasse(item.status)">
          {{ formatarStatus(item.status) }}
        </span>
      </div>

      <!-- LINHA INFERIOR -->
      <div class="contract-row-bottom">
        <span class="label">Garantia</span>
        <strong>{{ item.garantia || 'Não informado' }}</strong>
      </div>


      <!-- BOTÃO -->
      <div class="col action">
        <button class="btn-primary btn-negociar" (click)="selecionarContrato(item)"
          [disabled]="!isContratoElegivel(item)">
          Negociar<br>contrato
        </button>
      </div>


    </div>


  </article>

  } @empty {
  <p class="empty-state">Nenhum contrato encontrado.</p>
  }

</div>
