<div class="validacao-operacional">

  <!-- TÍTULO -->
  <h1 class="titulo">Painel de Acompanhamento</h1>

  <!-- BUSCA -->
  <section class="card busca-card">
    <h2>Buscar contratos</h2>

    <form (ngSubmit)="buscarContratos()" class="busca-form" autocomplete="off">
      <input id="documento" [formControl]="documento" placeholder="Digite um CPF ou CNPJ" required autocomplete="off"
        class="input" />

      <button type="submit" class="btn-primary" [disabled]="!documento.value">
        Buscar
      </button>
    </form>

    <!-- LISTA DE CONTRATOS -->
    <div class="contratos-lista">
      @for (contrato of contratos(); track contrato.numero) {
      <app-contract-card [contrato]="contrato" (click)="selecionarContrato(contrato)" />
      } @empty {
      @if (buscouContratos()) {
      <p class="empty-state">
        Nenhum contrato encontrado. Informe o CPF ou CNPJ para buscar.
      </p>
      }
      }
    </div>
  </section>

  <!-- SOLICITAÇÕES -->
  <section class="card">
    <h2>Solicitações já realizadas</h2>

    <div class="solicitacoes-grid">
      @for (solicitacao of solicitacoesUsuario(); track solicitacao.id) {
      <article class="solicitacao-card">

        <dl>
          <dt>Protocolo</dt>
          <dd>{{ solicitacao.protocolo }}</dd>

          <dt>Cliente</dt>
          <dd>{{ solicitacao.cliente }}</dd>

          <dt>CPF/CNPJ</dt>
          <dd>{{ solicitacao.cpfCnpj }}</dd>

          <dt>Contrato</dt>
          <dd>{{ solicitacao.numeroContrato }}</dd>

          <dt>Produto</dt>
          <dd>{{ solicitacao.produto }}</dd>

          <dt>Valor</dt>
          <dd>{{ solicitacao.valorTotalFormatado }}</dd>

          <dt>Data</dt>
          <dd>{{ solicitacao.dataInicio }}</dd>

          <dt>Status</dt>
          <dd>{{ statusLabel[solicitacao.status] }}</dd>
        </dl>

        <div class="botoes-status">
          <button type="button" class="btn-delete" (click)="excluirSolicitacao(solicitacao.protocolo)">
            Excluir
          </button>
        </div>

      </article>
      } @empty {
      <p class="empty-state">Nenhuma solicitação encontrada para o usuário.</p>
      }
    </div>
  </section>

</div>
